language: python
matrix:
  include:
    - python: 3.7
      dist: bionic
      sudo: true
before_install:
  - pip install pipenv
install:
  - pipenv install -e . --skip-lock
  - pipenv install -d --skip-lock
script:
  - pipenv run mypy typedjson
  - pipenv run yapf -r typedjson -d
  - pipenv run pytest
deploy:
  provider: pypi
  user:
    secure: pk3rV+31rQqt3fgIUiv6Gu0Xp3c8sU/UhD8+1eD6sJprVLGqPfjWLJ0M6AfbPNIpQp24fi81oTguQg+/h6GMWna89aKnz7yny2dbyWPAEUzoasqbzmW16f4bHPPiVpK8PJIlxmBo9IQR9eseS/5aoY3AAiYk19XD/4eTO+/Fd6KFWnVZzJO/Em44CgGeHLdCkP8JRHRqyMu7nnt6noCEC4gZU6PHoveRujgZN8cW5uyUjXyDImfJXeg4SmVBuU5p43RfjGHMeQc8NntaqUUBZ/JpgaM04vltr/DrnNqubHiH4smYeigmTs0fphFsABJtRJ2xNMhk4MrHVspVF6xcC7CVfo1HtKW4X5byf1g1XqWoNZiBOKU5riO99kINwgJrx90cF2zpKSdIgkmR1x5ugUotj0Clne3xwEs7Gd5tcWMAwGno/DcqDsbRn6TT5nJ56BKVNp9I4yOlJ3UCaUrwPYtHljif5YD9/bHDDlztOBpr0ueZ/bi957wl1gFDlWjfAPGHb3rPPmKHc+9C9FCDTkwAopyiCrq5vUhvAQVgrqqQU05nfDFHcSb19T6tx73xH1NYDHzsXg0rmjQbl+XPValOwJntWWPiZ4W1aYnyLkt1LM7DGplvdy7ZH98F2mIm2b1X3AgGMUCB93/ByErizPiR84uu3Sa96OMg1kqDa1o=
  password:
    secure: daFDGCub7YTZuoBQ0vlmuLIdpG1aD94STj6luvJ3A4rNdr4F8nQyUI1Tilkb1xGmf/scjqGLlve1izG3BfFAis4yfXryP2/Iebd2ehaGn6KzK9uNg+aorpHDzMfZH71Y/gJBXO9H3OYt+Nx/z4tKivznyBe9+g9RPnm81zRlzbv67f04CAqd75lsKnn0as0H9B6A55QAiBtBv6LBJP04zQn078QIIOqJ6qWcgtAdLkJy7Xvn/3jFjdeJ4aDKkbKOOBi6P12ryJf17TSU7BDyZu9Uwn6wQAz294bXWWsLriCinmAwgb8DF2QAWpO1bgYTlCkIDa6uNeYA8ksp2k0nXV3ChXFOvCLStbKPLissZDYnkjJBI8EKfXLDW3a9HI7otWDXWfVih5V0dOLoyuXzdXIcW8zyc2H0vbj/OlbB7dc4GMYKnVn6JQd1awnB1mNsBVDXBJSlE220zPawoE3DCiUXJ1yGj5N0YxbMGqs4y3kEfucE0Q4DSdnfhJq43t4dB7/N+3ri5kSYBuKQRYyAOD8AmEG3ZhvLMhjpixG3X1mDR3q5f5nez6L67/Fbx497/OPW1cpBH1zhlZxgsz73nxdk/3q03xFnW+9T13/kZ6CnIWQ4PNTRqUrxEalkS0UWLgp7+ZVI4ucNgcD8qeeEaYuKQoA0x3KFZuhV1O57pbQ=
  on:
    tags: true
