[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typedjson = {editable = true,path = "."}

[dev-packages]
autoflake = "~= 1.2.0"
mypy = "~= 0.641"
pyflakes = "~= 2.0.0"
pytest = "~= 4.0.1"
ptpython = "*"
yapf = "*"
